<nav class="navbar navbar-default ">
  <div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" >ProfilePage</a>
  </div>
  <ul class="nav navbar-nav">
    <li><a (click)="onSelectInfo()">Info</a></li>
    <li><a (click)="onSelectEducation()">Education</a></li>
    <li><a (click)="onSelectSkills()">Skills</a></li>
    <li><a (click)="onSelectExperience()" >Experience</a></li>
  </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>


