<app-header></app-header>
<div class="row">
  <div style=" padding-top: 80px; padding-left: 600px" class="col-md-10 col-md-7">
    <h2><b>Education</b></h2>
    <form [formGroup]="educationForm" (ngSubmit)="onSubmit()" >
      <div class="form-group">
        <label for="schoolName">Name of School</label>
        <input type="schoolName" class="form-control" id="schoolName" placeholder="Enter School Name" formControlName="name">
      </div>

      <div class="form-group">
        <label for="startDate">Start Date</label>
        <br>
        <input type="startDate" class="form-inline" id="startDate" placeholder="YYYY-MM-DD" formControlName="startDate">
      </div>
      <div class="form-inline">
        <label for="endDate">End Date</label>
        <br><input type="endDate" class="form-inline" id="endDate" placeholder="YYYY-MM-DD" formControlName="endDate">
      </div>
      <br>
      <div class="btn-group" Dropdown>
        <label for="degreeName">Degree Level</label>
        <br>
        <select class="btn btn-default dropdown-toggle" id="degreeName" formControlName="degreeName"><span class="caret">
        </span>
          <option  *ngFor="let d of degree">{{d.name}}</option>

        </select>
        <br>

      </div>
      <br><br>
      <div class="form-group">
        <label for="grade">Grade</label>
        <input type="grade" class="form-control" id="grade" placeholder="Enter Grade"  formControlName="grade">
      </div>

      <button class="btn btn-primary">Submit</button>

    </form>
</div>
</div>

